body {
    margin: 0;
    padding: 0;
    font-family: Manrope, sans-serif;
    background-image: url('https://images.unsplash.com/photo-1536859355448-76f92ebdc33d?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.navbar {
    padding: 60px 20px;
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    /*background: #f8f8f8;*/ 
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
}

.nav_item {
    font-size: 28px; 
    font-weight: 600; 
    text-transform: capitalize;
    cursor: pointer;
    color: #ffffff;
}

.nav_item.active {
    font-weight: 700;
    color: #000; 
}

.profile-section {
    padding: 160px 80px 60px;
    display: flex;
    gap: 30px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.foto-perfil {
    width: 340px; 
    height: 250px; 
    border-radius: 20px;
    background: linear-gradient(0deg, white 0%, white 100%);
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.titulo-h1 {
    font-size: 48px; 
    font-weight: 700; 
    text-transform: uppercase; 
    color: #ffffff;
}

.subtitulo {
    font-size: 20px; 
    font-weight: 400; 
    color: #ffffff;
}

.about-me {
    width: 100%;
    max-width: 900px;
    padding: 8px;
    margin: 0 auto;
}

.titulo-h2 {
    padding-top: 20px;
    text-align: center; 
    color: #ffffff; 
    font-size: 36px; 
    font-weight: 600; 
    text-transform: capitalize; 
}

.texto {
    color: #ffffff; 
    font-size: 22px; 
    font-weight: 400; 
    margin-top: 20px;
}

.experience-section {
    padding: 200px 20px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.experience-details {
    width: 100%;
    max-width: 900px;
    padding: 8px;
    margin: 0 auto;
}

.skills-section, .contact-section {
    padding: 200px 20px;
    text-align: center;
}

.skills-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skills-group {
    padding-top: 10px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}

.skills-items {
    padding-left: 100px;
}
.contact-links {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.contact-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-icon {
    padding: 100px 50px;
    width: 200px; 
    height: 200px; 
    border-radius: 20px;
}

/* Media Queries */
@media (max-width: 768px) {
    .navbar {
        padding: 20px 10px;
    }

    .nav-container {
        flex-direction: column;
        align-items: center;
    }

    .profile-section {
        flex-direction: column;
        padding: 15px;
        text-align: center;
    }

    .foto-perfil {
        border-radius: 20px;
        padding-top: 180px;
        width: 150px;
        height: 100px;
    }

    .about-me {
        padding: 8px 10px;
    }

    .titulo-h1 {
        font-size: 36px;
    }

    .titulo-h2 {
        padding-top: 80px;
        font-size: 28px;
    }

    .texto {
        font-size: 18px;
    }

    .experience-section {
        padding: 80px 15px 30px;
    }

    .skills-container {
        flex-direction: column;
    }

    .skills-group {
        max-width: 100%;
    }

    .contact-icon {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 480px) {
    .nav_item {
        font-size: 20px;
    }  

    .profile-section {
        padding: 10px;
    }

    .foto-perfil {
        width: 200px;
        height: 200px;
    }

    .titulo-h1 {
        font-size: 30px;
    }

    .titulo-h2 {
        font-size: 24px;
    }

    .texto {
        font-size: 16px;
    }

    .experience-section {
        padding: 60px 10px 20px;
    }

    .skills-group {
        margin-bottom: 20px;
    }

    .contact-icon {
        width: 60px;
        height: 60px;
    }
}